<div style="display: flex;">
  <mat-card class="example-card" style="flex: 1 1;">
    <mat-card-content id="links">
      <h2>Leidenschaftlich kreativ</h2>
        <p>Jeder fängt mal klein an - so wie wir, meine Nichte Bianca und ich.
        Begonnen hat alles mit Windowcolor und Tontopffiguren mit denen wir im 
        Jahr 2001 das erste Mal auf unserem kleinen Weihnachtsmarkt im Ort standen.
        2 Jahre später hielt ich das erste Buch über Laubsägearbeiten in der Hand und war
        Feuer und Flamme. Seit dem erstellen wir in unserer Freizeit Holzdekorationen
        und sind ca. 4 bis 5 mal im Jahr auf Kunsthandwerkermärkten zu finden.
        Im Jahr 2019 fanden wir auch an Betondekorationen gefallen und haben 2020
        unser Programm damit erweitert.<br>
        <p><strong>Jedes Stück ist mit Liebe zum Detail in Handarbeit gefertigt.</strong></p>
        <h3>Das ist unser Ausgleich neben Familie und Beruf. :-)</h3>
        <p>Bisher hatten wir nur eine Homepage mit unseren entstandenen Werken auf
        <strong>www.chrisubis.beepworld.de</strong>
        <p>Da die Frage, warum wir keinen Shop haben, immer öfter gestellt wurde:</p>
        <p><strong>HIER IST ER.</strong></p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="flex: 1 1;">
    <mat-card-content id="rechts">
      <img mat-card-image src="./assets/images/Christine.jpg" alt="Bild kann nicht geladen werden" id="picture1">
    </mat-card-content>
  </mat-card>
</div>

<div style="display: flex;">
  <mat-card class="example-card" id="mitte" style="flex: 1 1;">
    <mat-card-content id="links">
      <h2>Onlineshop</h2>
        <p>Im Shop bieten wir Figuren mit und ohne Beleuchtung an.
        Schlummerlampen für die lieben Kleinen sowie Holzsäulen,
        Kantholzdekorationen und Holzaufsteller - Dekostelen.
        Des weiteren verschiedene Betonartikel.
        Für jede Jahreszeit ist etwas dabei.
        Auch individuelle Wünsche werden berücksichtigt.</p>
        <h4>Viel Spaß beim Stöbern</h4>
        <p>Die meisten Laubsägemotive stammen aus der TOPP Reihe des Frech
        Verlages.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" id ="mitte" style="flex: 1 1;">
    <mat-card-content id="rechts">
      <img mat-card-image src="./assets/images/Bianca.jpg" alt="Bild kann nicht geladen werden" id="picture2">
    </mat-card-content>
  </mat-card>
</div>

<div style="display: flex;">
  <mat-card class="example-card" style="flex: 1 1 auto;">
    <img mat-card-image src="./assets/images/Materialien.jpg" alt="Bild kann nicht geladen werden" id="picture3">
      <mat-card-content id="unten">
        <h2>Verwendete Materialien</h2>
        <p>Pappelsperrholz ( 4 mm bis 12 mm ),</p>
        <p>Fichte-Leimholz ( 18 mm ),</p>
        <p> Holzsäulen Fichte gehobelt in verschiedenen Stärken und Birkenstämme.</p>
        <p>Gießbeton, Creativbeton, Knetbeton und Schmuckbeton je nach Motiv.</p>
        <p>Acrylfarben, Seidenmatt-Lack Spray auf Acrylbasis.</p>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="flex: 1 1 auto;">
    <img mat-card-image src="./assets/images/Pavillion.jpg" alt="Bild kann nicht geladen werden" id="picture4">
      <mat-card-content id="unten">
        <h2>Veranstaltungen an denen wir teilnehmen</h2>
        <h5><strong>Zurzeit sind leider keine Angaben über Termine möglich!</strong></h5>
        <p>Frühlingsbasar im Hansesaal Lünen, Kurt-Schuhmacher-Str. 41</p>
        <p>Aplerbecker Apfelmarkt, 44287 Dortmund, Rodenbergstr. 36</p>
        <p>Kreativ- und Adventsmarkt in der Stadthalle Werl, Grafenstr. 27</p>
        <p>Weihnachtsbasar im Hansesaal Lünen, Kurt-Schuhmacher-Str. 41</p>
      </mat-card-content>
  </mat-card>
</div>