<mat-nav-list>
    <a mat-list-item routerLink="/Homepage" (click)="onSidenavClose()">
        <span class="nav-caption">Startseite</span>
    </a>
    <a mat-list-item routerLink="Shop" (click)="onSidenavClose()">
        <span class="nav-caption">Shop</span>   
    </a>
    <a mat-list-item routerLink="Contact" (click)="onSidenavClose()">
        <span class="nav-caption">Kontakt</span>
    </a>
    <a mat-list-item routerLink="Basket" (click)="onSidenavClose()">
        <span class="nav-caption">Warenkorb</span>
    </a>
</mat-nav-list>